.aside-container{
  height 100%
  background $color-menu-back
  .aside-top{
    height 150px
    color #FFFFFF
    display flex
    font-size 16px
    .logo-container{
      margin: auto;
      display: flex;
      flex-direction: column
      .logo{
        width:  80px;
        height: 80px;
        margin: auto
        border-radius 60px
      }
      .company-name{
        font-size: 16px;
        margin-top: 10px
        display flex
      }
    }
  }
  .el-menu{
    border none
    background $color-menu-back
    .custom-menu-item{
      border-left 4px solid $color-menu-back
    }
    .custom-menu-item.is-active{
      border-left 4px solid $color-menu-font-active
    }
    .el-submenu__title{
      color #FFFFFF
      font-size 14px
      background $color-menu-back
      height 45px !important
      line-height 45px !important
    }
    .el-submenu__icon-arrow{
      color $color-white
    }
    .el-menu-item-group__title{
      padding 0 !important
    }
    .el-menu-item{
      font-size 14px
      padding 0 0 0 40px !important
      height 40px !important
      line-height: 39px!important
      background $color-menu-back
      color $color-white
    }
    .el-menu-item.is-active{
      background $color-menu-selected
    }
    .el-submenu{
      border-left 4px solid $color-menu-back
    }
    .el-submenu.is-active{
      background $color-menu-selected
      color $color-menu-font-active !important
      border-left 4px solid $color-menu-font-active
      .el-submenu__title{
        background $color-menu-selected
      }
    }
    .el-menu-item:hover, .el-submenu__title:hover {
      background $color-menu-selected;
    }
  }
}
.common-header{
  display flex
  width 100%
  height 100%
  justify-content flex-end
  .header-right{
    margin auto 0
    .el-dropdown{
      float right
    }
  }
}
