//菜单背景色
$color-menu-back = #070d12
//菜单选中颜色
$color-menu-selected = #0a1825
//常规字体颜色
$color-font-common = #303030
//白色背景
$color-white = #ffffff
//内容也背景
$color-main-background = #f2f4f7
//错误颜色
$color-error-font = #F56C6C
//菜单选中字体颜色
$color-menu-font-active = #d96900
